.Header {
  margin-bottom: 50px;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin: 0 auto;
  }

  h1 {
    margin: 15px;
  }
}

.Header__Picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  transition: width .5s, height .5s;
}
