body {
  font-family: 'Pragmatica', sans-serif, arial;
  font-size: 21px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  padding: 50px 0;
}

a {
  color: inherit;
}

video {
  min-width: 100%;
  max-width: 100%;
}
